@media(min-width:1500px) {
    .banner-mobile .banner-mobile-inner img {
        max-width: 75%;
    }
    .banner-mobile-content {
        left: 35%;
        top: 80px;
        max-width: 55%;
    }
    .banner-bottom-right .banner-features li img {
        max-width: 260px;
    }
    .banner-bottom-right .banner-features li:last-child{
        top: -10px;
    }
}

@media(max-width:991px) {
    header .primary-menu ul li a {
        font-size: 16px;
    }
    .banner .banner-content h1,
    .banner .banner-content p {
        max-width: 100%;
    }
    .banner .banner-content h1 {
        font-size: 35px;
    }
    .banner-bottom-right .banner-features li img {
        max-width: 250px;
    }
    .banner-mobile .banner-mobile-inner img {
        max-width: 100%;
    }
    .banner-bottom-content .banner-bottom-right h2 {
        font-size: 30px;
    }
    .banner .banner-content .banner-top-content h1 {
        max-width: 100%;
    }
    .banner .banner-content .banner-top-content p {
        max-width: 100%;
    }
    .banner-mobile-content {
        max-width: 60%;
    }
    .customer-aquisition {
        background-size: contain;
    }
    .customer-aquisition .content {
        max-width: 70%;
    }
    .leads h2 {
        font-size: 36px;
        line-height: 1.2;
    }
    .leads p {
        font-size: 16px;
    }
    .leads .lead-content {
        margin-bottom: 50px;
    }
}

@media(max-width:767px) {
    h2,
    h2.main-title {
        font-size: 30px;
    }
    h2.title-2 {
        font-size: 28px;
        margin-bottom: 25px;
    }
    h2.title-2 {
        text-align: center;
    }
    h2.title-2:after {
        left: 50%;
        transform: translateX(-50%);
    }
    .sub-heading {
        font-size: 18px;
        margin-bottom: 20px;
    }
    header {
        z-index: 9999;
    }
    .primary-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        z-index: 999999;
        background: linear-gradient(180deg, rgba(231, 57, 126, 1) 0%, rgba(95, 34, 129, 1) 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 300ms ease-in-out;
    }
    .primary-menu.active {
        left: 0;
    }
    .primary-menu ul {
        padding: 0;
    }
    header .primary-menu ul li {
        padding: 10px 0;
    }
    header .primary-menu ul li a {
        font-size: 20px;
    }
    .menu-close,
    .menu-open {
        display: inline-block;
    }
    header .logo {
        max-width: 150px;
        flex: 0 0 150px;
    }
    header .header-action {
        margin-right: 20px;
    }
    header .header-action .btn-secondary {
        min-width: auto;
        padding: 5px 20px;
    }
    .banner {
        height: auto;
    }
    .banner .banner-content {
        padding: 100px 15px 50px;
    }
    .banner .banner-content h1 {
        font-size: 30px;
        max-width: none;
        text-align: center;
    }
    .banner .banner-content p {
        max-width: 100%;
        font-size: 16px;
        text-align: center;
    }
    .banner .banner-content .banner-bottom-content {
        flex-wrap: wrap;
    }
    .banner-bottom-content .banner-bottom-left {
        flex: 0 0 100%;
        max-width: 100%;
        order: 2;
        margin-top: 30px;
    }
    .banner-mobile .banner-mobile-inner {
        transform: none;
    }
    .banner-bottom-content .banner-bottom-right {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 30px;
    }
    .banner-mobile {
        position: relative;
        top: 0;
        max-width: 365px;
        margin: 0 auto;
    }
    .banner-mobile-content {
        max-width: 75%;
        left: 12%;
        top: 80px;
    }
    .banner-mobile-content h3 {
        font-size: 25px;
    }
    .customer-aquisition {
        min-height: 500px;
        /* margin-bottom: 142px; */
    }
    .customer-aquisition .content p {
        /* font-size: 18px;
        line-height: 1.5; */
        text-align: justify;
    }
    .customer-aquisition .content {
        max-width: 100%;
    }
    .customer-aquisition .img-box {
        height: 240px;
        margin-top: 0;
    }
    .about-us .lead {
        text-align: justify;
    }
    .about-us-inner .about-box {
        margin-bottom: 150px !important;
    }
    .about-us-inner .row:last-child .col-md-4:last-child .about-box {
        margin-bottom: 0px !important;
    }
    .industries-list .col-md {
        border-right: 0;
    }
    .industries-list .industry-box {
        padding: 30px 0;
        border-bottom: 1px solid #ffffff;
    }
    .industries-list .col-md:last-child .industry-box {
        border-bottom: 0;
    }
    .industries-list .industry-box p {
        margin-bottom: 0;
    }
    .industries-list .industry-box [data-aos-delay] {
        transition-delay: 0s !important;
    }
    .footer-bottom-inner {
        flex-wrap: wrap;
    }
    .footer-bottom-inner .footer-bottom-left,
    .footer-bottom-inner .footer-bottom-right {
        flex: 0 0 100%;
    }
    .footer-content-box {
        padding-bottom: 20px;
    }
    .main {
        padding: 30px 0;
    }
    .leads p {
        text-align: justify;
    }
}


/* mobile devices */

@media(max-width:479px) {
    body {
        font-size: 16px;
        line-height: 22px;
    }
    h2,
    h2.main-title {
        font-size: 25px;
        line-height: 1.2;
        padding-bottom: 10px;
    }
    header .header-action {
        margin-right: 10px;
    }
    .leads h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }
    .banner.banner-second .banner-content h1 {
        font-size: 30px;
    }
    .cookies-section .cookies-content {
        max-width: 90%;
    }
    .cookies-content .btn-secondary,
    .cookies-content .btn {
        padding: 5px 15px;
        min-width: auto;
        max-height: 34px;
    }
}
