/*=================================
             fonts
================================ */


/* Robto  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

/* Monserrat */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

/*=================================
             General CSS
================================ */

html {
    font-size: 14px;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
    font-size: 18px;
    color: #444444;
    overflow-x: hidden;
    background-color: #fbfbfd;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
}

.container {
    max-width: 1170px;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    color: #383434;
    margin-bottom: 10px;
    line-height: 1.4;
}

h1 {
    font-size: 55px;
    line-height: 1.1;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 30px;
}

h2.main-title {
    position: relative;
    margin-bottom: 40px;
    text-align: center;
    color: #7244ca;
    line-height: 2;
    font-size: 32px;
}

h2.main-title:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    background: linear-gradient(0deg, #0c48a8 0%, #5394ce 100%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
}

h2.title-2 {
    position: relative;
    margin-bottom: 40px;
    line-height: 1.8;
    color: #0c2e8a;
}

h2.title-2:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    background: linear-gradient(0deg, #0c48a8 0%, #5394ce 100%);
    width: 100px;
    height: 4px;
}

.sub-heading {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
}

b,
strong {
    font-weight: bold;
}

ul,
ol {
    list-style: none;
}

.text-pink {
    color: #ca00de;
}

.btn {
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    color: #ffffff;
    border: 0;
    background: linear-gradient(45deg, #E91E63 0%, #213d8c 100%);
}

.btn:hover {
    background: linear-gradient(120deg, #213d8c 0%, #E91E63 100%);
    color: #ffffff;
}

.btn-secondary {
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    min-width: 125px;
    font-weight: 700;
}

.btn-secondary:hover {
    background: #ffffff;
    color: #db4185;
    border-color: #ffffff;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    position: relative;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

header.fixed-header {
    background: linear-gradient(45deg, #E91E63 0%, #213d8c 100%);
    transition: all 0.5s;
    position: fixed;
    z-index: 9999;
    left: 0;
    width: 100%;
}


header .header-inner {
    padding: 20px 0;
}

header .logo {
    max-width: 170px;
    flex: 0 0 170px;
}

header .primary-menu ul {
    margin-bottom: 0;
    color: 0;
}

header .primary-menu {
    margin-right: 30px;
}

header .primary-menu ul li a {
    padding: 15px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.menu-close {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.menu-open {
    font-size: 10px;
    font-size: 25px;
    display: none;
    cursor: pointer;
}

.banner {
    /* min-height: 100vh; */
    position: relative;
    background: url(../images/banner-1.png) no-repeat center;
    background-size: cover;
    padding-bottom: 30px;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(35, 61, 226);
    background: linear-gradient(180deg, rgba(231, 57, 126, 1) 0%, rgba(95, 34, 129, 1) 100%);
    opacity: .95;
}

.banner .banner-content {
    position: relative;
    width: 100%;
    z-index: 99;
    padding-top: 165px;
}

.banner .banner-content .banner-top-content {
    padding-bottom: 20px;
}

.banner .banner-content .banner-top-content h1 {
    margin-bottom: 10px;
    font-size: 32px;
    max-width: 95%;
}

.banner .banner-content .banner-top-content p {
    max-width: 85%;
    line-height: 1.5;
}

.banner .banner-content .banner-top-content .btn-secondary {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.banner .banner-content .banner-bottom-content {
    display: flex;
    justify-content: space-between;
}

.banner-bottom-content .banner-bottom-left {
    flex: 0 0 35%;
    max-width: 35%;
}

.banner-bottom-content .banner-bottom-right {
    flex: 0 0 63%;
    max-width: 63%;
    text-align: center;
    padding: 30px 0;
}

.banner-bottom-content .banner-bottom-right h2 {
    font-size: 32px;
    margin-bottom: 0;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    line-height: 1;
}

.banner-bottom-content .banner-bottom-right .banner-features {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.banner-bottom-right .banner-features li {
    position: relative;
    min-height: 60px;
}

.banner-bottom-right .banner-features li:last-child h2 {
    align-items: flex-start;
}

.banner-bottom-right .banner-features li img {
    max-width: 300px;
}

.banner-bottom-right .banner-features li .text {
    width: 100%;
    color: #ffffff;
    margin-bottom: 0;
    color: #7b3187;
    background: #ffffff;
    min-width: 275px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    position: relative;
}

.banner-bottom-right .banner-features li .text:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -16px;
    border-top: 20px solid transparent;
    border-bottom: 25px solid #ffffff;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
}

.banner-mobile {
    position: relative;
}

.banner-mobile .banner-mobile-inner {
    transform: scale(1) translateZ(-22rem) perspective(280rem) rotateY(20deg) rotateX(20deg) rotate(-3deg);
    text-align: right;
}

.banner-mobile .banner-mobile-inner img {
    max-width: 90%;
}

.banner-mobile-content {
    position: absolute;
    z-index: 99;
    background: transparent;
    width: 100%;
    left: 20%;
    top: 100px;
    max-width: 70%;
    padding: 20px;
    overflow: hidden;
    color: #ffffff;
}

.banner-mobile-content h3 {
    color: #ffffff;
    white-space: nowrap;
}

.banner-mobile-content h3 span {
    padding: 0 35px;
    display: inline-block;
    position: relative;
}

.banner-mobile-content h3 span:nth-child(1) {
    animation: marquee 10s linear infinite;
}

.banner-mobile-content h3 span:nth-child(2) {
    animation: marquee2 10s linear infinite;
    animation-delay: 5s;
}

.banner .banner-bottom-text {
    position: relative;
    background: url(../images/banner-bottom-bg.png) repeat-x;
    padding: 7px 0;
}

.banner .banner-bottom-text h2 {
    margin-bottom: 0;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-200%);
    }
}

.contact-us {
    padding: 75px 0;
}


/* footer starts  */

footer {
    background-color: #16262d;
    color: #ffffff;
    border-top: 2px solid #df387f;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.footer-top .footer-top-inner {
    padding: 50px 0;
}

footer .footer-content-box h4 {
    font-size: 22px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 500;
}

footer .footer-content-box ul li {
    margin-bottom: 5px;
    font-size: 14px;
}

footer .footer-logo {
    max-width: 200px;
    margin-bottom: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

footer .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

footer .social-links a {
    font-size: 18px;
    display: inline-block;
    color: #df387f;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: 1px solid #df387f;
    margin-right: 10px;
}

footer .social-links a:hover {
    background-color: #df387f;
    color: #ffffff;
}

footer .footer-contacts ul li {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

footer .footer-contacts ul li span {
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 5px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    text-align: center;
}

.footer-bottom {
    padding: 15px 0;
    background-color: #0c1f25;
}

.footer-bottom-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 13px;
}

.footer-bottom-inner .footer-bottom-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-bottom-right li {
    padding: 0 5px;
}

.footer-bottom-right li span {
    padding-left: 5px;
}

.back-to-top {
    position: fixed;
    display: none;
    background: linear-gradient(45deg, #E91E63, #213d8c);
    color: #fff;
    font-size: 20px;
    text-align: center;
    right: 15px;
    bottom: 40px;
    transition: none;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    width: 40px;
    font-size: 20px;
    z-index: 99999;
}

.leads {
    margin-top: 200px;
    padding: 50px 0px;
    background: #000000 url(../images/leads-bg.png) no-repeat center;
    background-size: cover;
    position: relative;
}

.leads:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.leads .leads-inner {
    position: relative;
    z-index: 9;
}

.leads h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

.leads p {
    font-size: 20px;
}

.leads .lead-form {
    border: 5px solid #df387f;
    border-radius: 10px;
    padding: 30px 15px;
    background: #1f2323;
}

.leads.contact-lead {
    margin-top: 0;
}

.banner.banner-second {
    background: rgb(35, 61, 226);
    background: linear-gradient(180deg, rgba(231, 57, 126, 1) 0%, rgba(95, 34, 129, 1) 100%);
    height: auto;
}

.banner.banner-second .banner-content {
    position: static;
    transform: none;
    padding: 125px 0 75px;
}

.banner.banner-second .banner-content h1 {
    font-size: 40px;
    max-width: none;
    text-align: left;
    position: relative;
}

.banner.banner-second .banner-content h1:after {
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    height: 4px;
    background: #ffffff;
    width: 100px;
}

.main {
    padding: 50px 0;
}

.cookies-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999999;
    display: none !important;
}

.cookies-section .cookies-content {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #ffffff;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 350px;
    padding: 40px 20px;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
}

.cookies-content img {
    max-width: 50px;
    margin-bottom: 10px;
}

.cookies-content a {
    color: #e91e63;
}

.cookies-content .btn {
    background: #e91e63;
    border: 1px solid #e91e63;
    color: #ffffff;
}

.cookies-content .btn-secondary {
    border: 1px solid #e91e63;
    color: #e91e63;
    cursor: pointer;
    max-height: 42px
}

.cookies-content .btn-secondary:hover {
    color: #ffffff;
    background-color: #e91e63;
}


/* acquisition section */

.customer-aquisition {
    padding: 50px 0 25px;
    position: relative;
}

.customer-aquisition .img-box {
    height: 400px;
    margin-top: -150px;
}

.customer-aquisition .img-box img {
    height: auto;
    max-height: 100%;
    width: 100%;
    object-fit: 100%;
}

.customer-aquisition .content {
    max-width: 45%;
    border-radius: 10px;
}

.customer-aquisition .content-bottom {
    display: flex;
    justify-content: flex-end;
}

.customer-aquisition-bottom {
    width: 100%;
    padding: 20px;
    padding-bottom: 0;
}


/* industries  */

.industries {
    color: #ffffff;
}

.industries .main-title {
    margin-bottom: 0;
}

.industries .main-title span {
    margin-bottom: 40px;
    display: block;
}

.industries .main-title:after {
    background: #ffffff;
    top: 50%;
    transform: translate(-50%, -50%);
}

.industries .industries-inner {
    padding: 50px 0;
    transform: skewY(2deg);
    transform-origin: top left;
    background-image: linear-gradient(180deg, rgba(231, 57, 126, 1) 0%, rgba(95, 34, 129, 1) 100%);
}

.industries .industries-inner .container {
    transform: skewY(-2deg);
}

.industries .bottom {
    margin-top: 40px;
}

.industries-list .col-md {
    border-right: 1px solid #ffffff;
}

.industries-list .col-md:last-child {
    border-right: 0;
}

.industries-list .industry-box .img-wrapper {
    text-align: center;
    margin-bottom: 20px;
    min-height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.industries-list .industry-box .img-wrapper img {
    max-width: 90px;
}

.industries .industries-list [data-aos=fade-right] {
    transform: translate3d(-1000px, 0, 0);
}

.industries .industries-list [data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}

.industries-list .industry-box h4 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
}

.about-us {
    padding: 70px 0 50px 0;
    background-color: #eff5f5;
}

.about-us-inner {
    margin-top: 140px;
}

.about-us-inner .about-box {
    margin-bottom: 150px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    border-radius: 20px;
}

.about-us-inner .about-box h4 {
    margin: 20px 0;
}

.about-us-inner .about-box .img-wrapper {
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: -115px;
}

.about-us .bottom {
    margin-top: 60px;
}

.about-us .bottom h2 {
    margin-top: 45px;
    margin-bottom: 0;
}