/*=================================
             fonts
================================ */


/* Robto  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

/* Monserrat */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

/*=================================
             General CSS
================================ */

body {
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
    font-size: 16px;
    color: #444444;
    overflow-x: hidden;
}

.container {
    max-width: 1170px;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    color: #383434;
    margin-bottom: 10px;
    line-height: 1.4;
}

h1 {
    font-size: 55px;
    line-height: 1.1;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 32px;
}

h2.main-title {
    position: relative;
    margin-bottom: 40px;
    text-align: center;
    color: #0c2e8a;
    line-height: 2;
    font-size: 36px;
}

h2.main-title:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    background: -webkit-gradient(linear, left bottom, left top, from(#1dc8cd), to(#55fabe));
    background: -o-linear-gradient(bottom, #1dc8cd 0%, #55fabe 100%);
    background: linear-gradient(0deg, #1dc8cd 0%, #55fabe 100%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
}

h2.title-2 {
    position: relative;
    margin-bottom: 40px;
    line-height: 1.8;
    color: #0c2e8a;
}

h2.title-2:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#1dc8cd), to(#55fabe));
    background: -o-linear-gradient(bottom, #1dc8cd 0%, #55fabe 100%);
    background: linear-gradient(0deg, #1dc8cd 0%, #55fabe 100%);
    width: 100px;
    height: 4px;
}

.sub-heading {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
}

ul,
ol {
    list-style: none;
}

.btn {
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    color: #ffffff;
    background: -o-linear-gradient(45deg, #1de099, #1dc8cd);
    background: linear-gradient(45deg, #1de099, #1dc8cd);
}

.btn:hover {
    background: -o-linear-gradient(355deg, #1de099, #1dc8cd);
    background: linear-gradient(95deg, #1de099, #1dc8cd);
    color: #ffffff;
}

.btn-secondary {
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    min-width: 125px;
}

.btn-secondary:hover {
    background: #ffffff;
    color: #28c94e;
    border-color: #ffffff;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    position: relative;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

header.fixed-header {
    /* background: linear-gradient(45deg, rgba(29, 200, 205), rgb(4, 169, 109)); */
    background: linear-gradient(45deg, rgb(12 120 123), rgb(4, 169, 109));
    transition: all 0.5s;
    position: fixed;
    z-index: 9999;
    left: 0;
    width: 100%;
}

header .header-inner {
    padding: 20px 0;
}

header .logo {
    max-width: 200px;
    flex: 0 0 200px;
}

header .primary-menu ul {
    margin-bottom: 0;
    color: 0;
}

header .primary-menu {
    margin-right: 30px;
}

header .primary-menu ul li a {
    padding: 15px;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
}

.menu-close {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.menu-open {
    font-size: 10px;
    font-size: 25px;
    display: none;
    cursor: pointer;
}

.banner {
    /* background-image: linear-gradient(45deg, rgba(29, 200, 205) 25%, rgb(4, 169, 109) 50%); */
    background-image: linear-gradient(45deg, rgb(5 112 115) 25%, rgb(13 146 97) 50%);
    height: 768px;
    position: relative;
}

.banner .banner-content {
    padding-top: 160px;
    text-align: center;
}

.banner .banner-content h1 {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.banner .banner-video {
    height: 100%;
    max-height: 600px;
    margin-top: 25px;
    position: relative;
    z-index: 999
}

.banner-video video {
    max-height: 600px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;
}

.svg-animation {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    height: 350px;
}

#svg1,
#svg2,
#svg3,
#svg4,
#svg5,
#svg6,
#svg7,
#svg8,
#svg9,
#svg10,
#svg11,
#svg12,
#svg13,
#svg14,
#svg15 {
    position: relative;
    /* top: 0; */
    z-index: -1;
    left: -1000px;
    width: -1000px;
    display: block;
    /* max-height: 10px; */
}

@keyframes delay1 {
    from {
        left: -400px
    }
    to {
        left: 2000px
    }
}

@-webkit-keyframes delay1 {
    from {
        left: -400px
    }
    to {
        left: 2000px
    }
}


/* 
#svg1 {
    animation-name: delay1;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 25px;
}

#svg2 {
    animation-name: delay1;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 25px;
}

#svg3 {
    animation-name: delay1;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 25px;
}

#svg4 {
    animation-name: delay1;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 25px;
}

#svg5 {
    animation-name: delay1;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 25px;
}

#svg6 {
    animation-name: delay1;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 25px;
}

#svg7 {
    animation-name: delay1;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 25px;
}

#svg8 {
    animation-name: delay1;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 25px;
}

#svg9 {
    animation-name: delay1;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 20px;
}

#svg10 {
    animation-name: delay1;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 20px;
}

#svg11 {
    animation-name: delay1;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 20px;
}

#svg12 {
    animation-name: delay1;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 20px;
}

#svg13 {
    animation-name: delay1;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 20px;
}

#svg14 {
    animation-name: delay1;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 20px;
}

#svg15 {
    animation-name: delay1;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 15px;
} */

#svg1 {
    animation-name: delay1;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 20px;
}

#svg2 {
    animation-name: delay1;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 20px;
}

#svg3 {
    animation-name: delay1;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 20px;
}

#svg4 {
    animation-name: delay1;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 20px;
}

#svg5 {
    animation-name: delay1;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 20px;
}

#svg6 {
    animation-name: delay1;
    animation-duration: 6s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 20px;
}

#svg7 {
    animation-name: delay1;
    animation-duration: 6s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 20px;
}

#svg8 {
    animation-name: delay1;
    animation-duration: 8s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 20px;
}

#svg9 {
    animation-name: delay1;
    animation-duration: 9s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 20px;
}

#svg10 {
    animation-name: delay1;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 20px;
}

#svg11 {
    animation-name: delay1;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 20px;
}

#svg12 {
    animation-name: delay1;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 20px;
}

#svg13 {
    animation-name: delay1;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 20px;
}

#svg14 {
    animation-name: delay1;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 20px;
}

#svg15 {
    animation-name: delay1;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-height: 20px;
}


/* ours services */

.our-services {
    padding: 200px 0 50px;
}

.our-services .our-services-img {
    margin-top: 50px;
}


/* solutions starts  */

.solutions {
    padding: 50px 0;
}

.solutions .solution-box {
    padding: 50px 0;
}

.solutions .solution-img {
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.solutions .solution-img img {
    max-width: 30%;
}


/* consumer categories starts */

.consumer-categories {
    padding: 50px 0;
}

.consumer-categories .consumer-category-box {
    padding: 30px 0;
    text-align: center;
}

.consumer-categories .consumer-category-box img {
    margin-bottom: 30px;
}

.consumer-categories .consumer-category-box h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.industry-partners .owl-dot span {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

.industry-partners .owl-dot:focus {
    outline: none;
}

.industry-partners .owl-dot:hover span {
    background-color: #50d8af !important;
}

.industry-partners .owl-dot.active span {
    background-color: #50d8af !important;
}

.industry-partner-list {
    margin: 50px 0;
}

.industry-partner-list li {
    opacity: 0.6;
}

.industry-partner-list li:hover {
    opacity: 1;
}


/* .advertiser starts  */

.advertiser {
    padding: 100px 0;
    position: relative;
    text-align: center;
    background: url(../images/workplace.jpg) no-repeat center;
    background-size: cover;
}

.advertiser:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    opacity: 0.94;
    width: 100%;
    z-index: 10;
    background-color: #1dc8cd;
    background: -webkit-gradient(linear, left top, right top, from(#4c9ea0), to(#429275));
    background: -o-linear-gradient(left, #4c9ea0, #429275);
    background: linear-gradient(to right, #4c9ea0, #429275);
}

.advertiser .advertiser-inner {
    position: relative;
    z-index: 99;
}

.advertiser .advertiser-inner h2 {
    margin-bottom: 30px;
    font-size: 40px;
}

.advertiser .advertiser-inner p {
    font-size: 18px;
    font-weight: 500;
}

.advertiser .advertiser-inner .btn-secondary {
    margin-top: 30px;
}


/* porfolios starts  */

.portfolios {
    padding: 75px 0;
}

.portfolios .tab-list {
    border: 1px solid #cccccc;
    padding: 0;
}

.portfolios .tab-list li {
    background-color: #f2f2f2;
    padding: 30px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.portfolios .tab-list li:last-child {
    border-bottom: none;
}

.portfolios .tab-list li img {
    margin-right: 20px;
}

.portfolios .tab-list li.active {
    background-color: #ffffff;
    border-left: 4px solid #0c2e8a;
    color: #0c2e8a;
    font-weight: 600;
}

.portfolios .tab-content {
    display: none;
}

.portfolios .tab-content.active {
    display: block;
}


/* become affliate starts  */

.become-affliate {
    padding: 100px 0;
    position: relative;
    text-align: center;
    background: url(../images/workplace.jpg) no-repeat center;
    background-size: cover;
}

.become-affliate:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    opacity: 0.94;
    width: 100%;
    z-index: 10;
    background-color: #1dc8cd;
    background: -webkit-gradient(linear, left top, right top, from(#323d3e), to(#033e08));
    background: -o-linear-gradient(left, #323d3e, #033e08);
    background: linear-gradient(to right, #323d3e, #033e08);
}

.become-affliate-content {
    color: #ffffff;
    position: relative;
    z-index: 999;
}

.become-affliate .become-affliate-content {
    position: relative;
    z-index: 99;
}

.become-affliate .become-affliate-content h2 {
    margin-bottom: 30px;
    font-size: 40px;
}

.become-affliate .become-affliate-content p {
    font-size: 18px;
    font-weight: 500;
}

.become-affliate .become-affliate-content .btn-secondary {
    margin-top: 30px;
}


/* network starts  */

.network {
    padding: 75px 0;
}

.network .network-box {
    padding: 30px 0;
}

.network .network-box .network-img {
    margin-bottom: 20px;
}

.network .network-box h4 {
    font-size: 22px;
}

.network .network-box ul {
    text-align: left;
    padding: 0;
    margin-top: 20px;
}

.network .network-box ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
}

.network .network-box ul li .fa {
    font-size: 18px;
    padding-right: 6px;
    color: #0c2e8a;
}


/* our company starts  */

.our-company {
    padding: 125px 0;
    position: relative;
    text-align: center;
    background: url(../images/workplace.jpg) no-repeat center;
    background-size: cover;
}

.our-company:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    opacity: 0.94;
    width: 100%;
    z-index: 10;
    background-color: #1dc8cd;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(32%, #19231e), to(#1f8228));
    background: -o-linear-gradient(top, #19231e 32%, #1f8228 100%);
    background: linear-gradient(to bottom, #19231e 32%, #1f8228 100%);
}

.our-company-content {
    color: #ffffff;
    position: relative;
    z-index: 999;
}

.our-company .our-company-content {
    position: relative;
    z-index: 99;
}

.our-company .our-company-content h2 {
    margin-bottom: 30px;
    font-size: 40px;
}

.our-company .our-company-content p {
    font-size: 18px;
    font-weight: 500;
}


/* contact us starts  */

.contact-us {
    padding: 75px 0;
}


/* footer starts  */

footer {
    background-color: #16262d;
    color: #ffffff;
    border-top: 2px solid #1dc8cd;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.footer-top .footer-top-inner {
    padding: 50px 0;
}

footer .footer-content-box h4 {
    font-size: 22px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 500;
}

footer .footer-content-box ul li {
    margin-bottom: 5px;
    font-size: 14px;
}

footer .footer-logo {
    max-width: 200px;
    margin-bottom: 20px;
}

footer .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

footer .social-links a {
    font-size: 18px;
    display: inline-block;
    color: #1dc8cd;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: 1px solid #1dc8cd;
    margin-right: 10px;
}

footer .social-links a:hover {
    background-color: #1dc8cd;
    color: #ffffff;
}

footer .footer-contacts ul li {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

footer .footer-contacts ul li span {
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 5px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    text-align: center;
}

.footer-bottom {
    padding: 15px 0;
    background-color: #0c1f25;
}

.footer-bottom-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 13px;
}

.footer-bottom-inner .footer-bottom-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-bottom-right li {
    padding: 0 5px;
}

.footer-bottom-right li span {
    padding-left: 5px;
}

.back-to-top {
    position: fixed;
    display: none;
    background: linear-gradient(45deg, #1de099, #1dc8cd);
    color: #fff;
    font-size: 20px;
    text-align: center;
    right: 15px;
    bottom: 40px;
    transition: none;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    width: 40px;
    font-size: 20px;
    z-index: 99999;
}

.leads {
    margin-top: 200px;
    padding: 50px 0px;
    background: #000000 url(../images/leads.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}

.leads:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.leads .leads-inner {
    position: relative;
    z-index: 9;
}

.leads h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

.leads p {
    font-size: 20px;
}

.leads .lead-form {
    border: 5px solid #1ac4c0;
    border-radius: 10px;
    padding: 30px 15px;
    background: #1f2323;
}

.leads.contact-lead {
    margin-top: 0;
}

.banner.banner-second {
    height: auto;
}

.banner.banner-second .banner-content {
    padding-top: 100px;
    padding-bottom: 40px;
}

.banner.banner-second .banner-content h1 {
    font-size: 40px;
    max-width: none;
    text-align: left;
    position: relative;
}

.banner.banner-second .banner-content h1:after {
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    height: 4px;
    background: #ffffff;
    width: 100px;
}

.main {
    padding: 50px 0;
}

.cookies-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999999;
    display: none !important;
}

.cookies-section .cookies-content {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #ffffff;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 350px;
    padding: 40px 20px;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
}

.cookies-content img {
    max-width: 50px;
    margin-bottom: 10px;
}

.cookies-content a {
    color: #1dc8cd;
}

.cookies-content .btn-secondary {
    border: 1px solid #1dc8cd;
    color: #1dc8cd;
    cursor: pointer;
    max-height: 42px
}

.cookies-content .btn-secondary:hover {
    color: #ffffff;
    background-color: #1dc8cd;
}